<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<style>
			#slider-pictures {
				height: 270px;
				border-bottom: 1px solid black;
			}
			/*图片等比自动缩放*/
			
			img {
				width: auto;
				height: 270px;
				max-width: 100%;
				max-height: 100%;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">监测设备详细情况</h1>
		</header>
		<div class="mui-content">
			<div id="content">
				<script id="slider-item-template" type="text/html">
					<div id="slider-pictures" class="mui-slider">
						<div class="mui-slider-group mui-slider-loop">
							<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
							<div class="mui-slider-item mui-slider-item-duplicate">
								<a href="#">
									<img src="<%=data.dimage[data.dimage.length-1].url%>">
									<p class="mui-slider-title mui-text-center">
										<%=data.dimage[data.dimage.length-1].title%>
									</p>
								</a>
							</div>
							<% for (var i=0; i<data.dimage.length; i++) { %>
							<div class="mui-slider-item">
								<a href="#">
									<img src="<%=data.dimage[i].url%>">
									<p class="mui-slider-title mui-text-center">
										<%=data.dimage[data.dimage.length-1].title%>
									</p>
								</a>
							</div>
							<%}%>
							<div class="mui-slider-item mui-slider-item-duplicate">
								<a href="#">
									<img src="<%=data.dimage[0].url%>">
									<p class="mui-slider-title mui-text-center">
										<%=data.dimage[data.dimage.length-1].title%>
									</p>
								</a>
							</div>
						</div>
						<div class="mui-slider-indicator mui-text-right">
							<% for (var i=0; i<data.dimage.length; i++) { %>
							<div class="mui-indicator mui-active"></div>
							<%}%>
						</div>
					</div>
					<ul id="jcsbxq-ul-list" class="mui-table-view">
						<li class="mui-table-view-cell">
							<div class="mui-table">
								<span class="mui-table-cell mui-col-xs-4 mui-text-left">设备名称:</span>
								<span class="mui-table-cell mui-col-xs-8 mui-text-left"><%=data.name%></span>
							</div>
						</li>
						<li class="mui-table-view-cell">
							<div class="mui-table">
								<span class="mui-table-cell mui-col-xs-4 mui-text-left">通讯状态:</span>
								<span class="mui-table-cell mui-col-xs-8 mui-text-left"><%=data.connectstatus == 0 ? '正常' : '异常'%></span>
							</div>
						</li>
						<li class="mui-table-view-cell">
							<div class="mui-table">
								<span class="mui-table-cell mui-col-xs-4 mui-text-left">电池状态:</span>
								<span class="mui-table-cell mui-col-xs-8 mui-text-left"><%=data.batterystatus == 0 ? '正常' : '异常'%></span>
							</div>
						</li>
						<li class="mui-table-view-cell">
							<div class="mui-table">
								<span class="mui-table-cell mui-col-xs-4 mui-text-left">运行状态:</span>
								<span class="mui-table-cell mui-col-xs-8 mui-text-left"><%=data.runstatus == 0 ? '正常' : '异常'%></span>
							</div>
						</li>
					    <li class="mui-table-view-cell">
							<div class="mui-table">
								<span class="mui-table-cell mui-col-xs-4 mui-text-left">设备频率:</span>
								<span class="mui-table-cell mui-col-xs-8 mui-text-left"><%=data.rate%> 次/分钟</span>
							</div>
						</li>
						<li class="mui-table-view-cell">
							<div class="mui-table">
								<span class="mui-table-cell mui-col-xs-4 mui-text-left">负责人:</span>
								<span class="mui-table-cell mui-col-xs-8 mui-text-left"><%=data.username%></span>
							</div>
						</li>
						<li class="mui-table-view-cell">
							<div class="mui-table">
								<span class="mui-table-cell mui-col-xs-4 mui-text-left">联系电话:</span>
								<span class="mui-table-cell mui-col-xs-8 mui-text-left"><%=data.mobile%></span>
							</div>
						</li>
						<li class="mui-table-view-cell">
							<div class="mui-table">
								<span class="mui-table-cell mui-col-xs-4 mui-text-left">安装地点:</span>
								<span class="mui-table-cell mui-col-xs-8 mui-text-left"><%=data.address%></span>
							</div>
						</li>
						<li class="mui-table-view-cell">
							<div class="mui-table">
								<span class="mui-table-cell mui-col-xs-4 mui-text-left">安装时间:</span>
								<span class="mui-table-cell mui-col-xs-8 mui-text-left"><%=data.addtime%></span>
							</div>
						</li>
						<li class="mui-table-view-cell">
							<div class="mui-table">
								<span class="mui-table-cell mui-col-xs-4 mui-text-left">维护周期:</span>
								<span class="mui-table-cell mui-col-xs-8 mui-text-left"><%=data.rate%></span>
							</div>
						</li>
						<li class="mui-table-view-cell">
							<div class="mui-table">
								<span class="mui-table-cell mui-col-xs-4 mui-text-left">上次维护:</span>
								<span class="mui-table-cell mui-col-xs-8 mui-text-left"><%=data.modtime%></span>
							</div>
						</li>
					</ul>
				</script>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/template-native.js" charset="utf-8"></script>
		<script type="text/javascript" src="../../js/pages/common.js" charset="utf-8"></script>
		<script type="text/javascript">
			mui.init();
			mui.plusReady(initView);
			var self;

			function initView() {
				//页面传值
				self = plus.webview.currentWebview();
				var feature = mui.myCloneObj(self.feature);
				if(typeof feature.dimage == 'string') {
					feature.dimage = JSON.parse(feature.dimage);
				}
				var html = template('slider-item-template', {
					data: feature
				});
				document.getElementById("content").innerHTML = html;
				mui(".mui-slider").slider();
			}

			function isArray(o) {
				return Object.prototype.toString.call(o) == '[object Array]';
			}

			function click() {
				console.log(features.dimage);
				var html = template('slider-item-template', {
					data: feature
				});
			}
		</script>
	</body>

</html>