/*
Error: Invalid CSS after "//自定义变量": expected selector or at-rule, was "$focus-text-col..."
        on line 19 of YtTop.scss

14:         $ui: 'banner-panel-bgcolor',
15:         $ui-body-background-color: rgba(69, 90, 100, 1.0)
16: )
17: 
18: //自定义变量
19: $focus-text-color: #ffffff;
20: $default-text-color: #9ee7d0;
21: $custome-font-family: '微软雅黑';
22: 
23: @include extjs-button-medium-ui(
24:         $ui: 'top-menu-ui',

Backtrace:
YtTop.scss:19
E:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.1/lib/sass/scss/parser.rb:1278:in `expected'
E:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.1/lib/sass/scss/parser.rb:1208:in `expected'
E:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.1/lib/sass/scss/parser.rb:42:in `parse'
E:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.1/lib/sass/engine.rb:414:in `_to_tree'
E:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.1/lib/sass/engine.rb:389:in `_render_with_sourcemap'
E:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.1/lib/sass/engine.rb:307:in `render_with_sourcemap'
E:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
E:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
E:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:209:in `each'
E:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
E:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.1/lib/sass/plugin.rb:82:in `update_stylesheets'
E:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.1/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
E:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.1/lib/sass/exec/sass_scss.rb:51:in `process_result'
E:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.1/lib/sass/exec/base.rb:52:in `parse'
E:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.1/lib/sass/exec/base.rb:19:in `parse!'
E:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.1/bin/scss:13:in `<top (required)>'
E:/Ruby24-x64/bin/scss:22:in `load'
E:/Ruby24-x64/bin/scss:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"//自定义变量\": expected selector or at-rule, was \"$focus-text-col...\"\A         on line 19 of YtTop.scss\A \A 14:         $ui: 'banner-panel-bgcolor',\A 15:         $ui-body-background-color: rgba(69, 90, 100, 1.0)\A 16: )\A 17: \A 18: //自定义变量\A 19: $focus-text-color: #ffffff;\A 20: $default-text-color: #9ee7d0;\A 21: $custome-font-family: '微软雅黑';\A 22: \A 23: @include extjs-button-medium-ui(\A 24:         $ui: 'top-menu-ui',"; }
