/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);

$base-color: rgba(120, 144, 156,1.0);

$my-panel-header-color: rgba(120, 144, 156,1.0);

$font-family:'微软雅黑';
