/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);

//自定义变量
$map-focus-text-color: rgba(255, 109, 0, 1.0);
$map-default-text-color: #ffffff;

$common-color: rgba(7, 115, 166, 0.8);

$common-active-color: rgb(20, 49, 59);

$base-color: $common-color;

$my-panel-header-color: $common-color;

$font-family: '微软雅黑';

//自定义变量
$focus-text-color: $map-focus-text-color;
$default-text-color: rgba(255,255,255,1);
$custome-font-family: '微软雅黑';
