/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);

$base-color: rgb(53, 128, 232);

$my-panel-header-color: rgb(53, 128, 232);

$font-family:'微软雅黑';
