<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/pages/common.js" ></script>
		<script type="text/javascript" src="../../js/template-native.js"></script>
		<!--<script type="text/javascript" src="../../js/testdata.js"></script>-->
		<style>
			#slider-pictures {
				height: 270px;
				border-bottom: 1px solid black;
			}
			/*图片等比自动缩放*/
			
			img {
				width: auto;
				height: 270px;
				max-width: 100%;
				max-height: 100%;
			}
		</style>
	</head>

	<body>
		
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">地灾点项目详细情况</h1>
		</header>
		<div id="content" class="mui-content">
			<script id="slider-item-template" type="text/html">
				<div id="slider-pictures" class="mui-slider">
					<div class="mui-slider-group mui-slider-loop">
						<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
						<div class="mui-slider-item mui-slider-item-duplicate">
							<a href="#">
								<img src="<%=list.image[list.image.length-1].url%>">
								<p class="mui-slider-title mui-text-center"><%=list.image[list.image.length-1].title%></p>
							</a>
						</div>
						<% for (var i=0; i<list.image.length; i++) { %>
						<div class="mui-slider-item">
							<a href="#">
								<img src="<%=list.image[i].url%>">
								<p class="mui-slider-title mui-text-center"><%=list.image[i].title%></p>
							</a>
						</div>
						<%}%>
						<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
						<div class="mui-slider-item mui-slider-item-duplicate">
							<a href="#">
								<img src="<%=list.image[0].url%>">
								<p class="mui-slider-title mui-text-center"><%=list.image[0].title</p>
							</a>
						</div>
					</div>
					<div class="mui-slider-indicator mui-text-right">
							<div class="mui-indicator mui-active"></div>
						<% for (var i=1; i<list.image.length; i++) { %>
							<div class="mui-indicator"></div>
						<%}%>
					</div>
				</div>
				<ul id="dzdxq-ul-list" class="mui-table-view">
					<li class="mui-table-view-cell">
						<div class="mui-table">
							<span class="mui-table-cell mui-col-xs-3 mui-text-left">地灾点:</span>
							<span class="mui-table-cell mui-col-xs-9 mui-text-left"><%=list.name%></span>
						</div>
					</li>					
					<li class="mui-table-view-cell">
						<div class="mui-table">
							<span class="mui-table-cell mui-col-xs-3 mui-text-left">承担单位:</span>
							<span class="mui-table-cell mui-col-xs-9 mui-text-left"><%=list.company%></span>
						</div>
					</li>
					<li class="mui-table-view-cell">
						<div class="mui-table">
							<span class="mui-table-cell mui-col-xs-3 mui-text-left">灾害类型:</span>
							<span class="mui-table-cell mui-col-xs-9 mui-text-left"><%=list.dtype%></span>
						</div>
					</li>
					<li class="mui-table-view-cell">
						<div class="mui-table">
							<span class="mui-table-cell mui-col-xs-3 mui-text-left">险情等级:</span>
							<span class="mui-table-cell mui-col-xs-9 mui-text-left"><%=list.dlevel%></span>
						</div>
					</li>
					<li class="mui-table-view-cell">
						<div class="mui-table">
							<span class="mui-table-cell mui-col-xs-3 mui-text-left">规模:</span>
							<span class="mui-table-cell mui-col-xs-9 mui-text-left"><%=list.dlevel%></span>
						</div>
					</li>
					<li class="mui-table-view-cell">
						<div class="mui-table">
							<span class="mui-table-cell mui-col-xs-3 mui-text-left">威胁人数:</span>
							<span class="mui-table-cell mui-col-xs-9 mui-text-left"><%=list.dnum%> (人)</span>
						</div>
					</li>
					<li class="mui-table-view-cell">
						<div class="mui-table">
							<span class="mui-table-cell mui-col-xs-3 mui-text-left">威胁财产:</span>
							<span class="mui-table-cell mui-col-xs-9 mui-text-left"><%=list.estate%> (万元)</span>
						</div>
					</li>
					<li class="mui-table-view-cell">
						<div class="mui-table">
							<span class="mui-table-cell mui-col-xs-3 mui-text-left">防治措施:</span>
							<span class="mui-table-cell mui-col-xs-9 mui-text-left"><%=list.davoid%></span>
						</div>
					</li>
					<li class="mui-table-view-cell">
						<div class="mui-table">
							<span class="mui-table-cell mui-col-xs-3 mui-text-left">报警方式:</span>
							<span class="mui-table-cell mui-col-xs-9 mui-text-left"><%=list.dmethod%></span>
						</div>   
					</li>
					<li class="mui-table-view-cell">
						<div class="mui-table">
							<span class="mui-table-cell mui-col-xs-3 mui-text-left">避灾地点:</span>
							<span class="mui-table-cell mui-col-xs-9 mui-text-left"><%=list.daddress%></span>
						</div>
					</li>
					<li class="mui-table-view-cell">
						<div class="mui-table">
							<span class="mui-table-cell mui-col-xs-3 mui-text-left">撤离路线:</span>
							<span class="mui-table-cell mui-col-xs-9 mui-text-left"><%=list.droute%></span>
						</div>
					</li>					
					<li class="mui-table-view-cell">
						<div class="mui-table">
							<span class="mui-table-cell mui-col-xs-3 mui-text-left">监测员:</span>
							<span class="mui-table-cell mui-col-xs-9 mui-text-left"><%=list.username%></span>
						</div>
					</li>
					<li class="mui-table-view-cell">
						<div class="mui-table">
							<span class="mui-table-cell mui-col-xs-3 mui-text-left">监测员电话:</span>
							<span class="mui-table-cell mui-col-xs-9 mui-text-left"><%=list.mobile%></span>
						</div>
					</li>
					<li class="mui-table-view-cell">
						<div class="mui-table">
							<span class="mui-table-cell mui-col-xs-3 mui-text-left">村级责任人:</span>
							<span class="mui-table-cell mui-col-xs-9 mui-text-left"><%=list.personname%></span>
						</div>
					</li>
					<li class="mui-table-view-cell">
						<div class="mui-table">
							<span class="mui-table-cell mui-col-xs-3 mui-text-left">村级责任人电话:</span>
							<span class="mui-table-cell mui-col-xs-9 mui-text-left"><%=list.personmobile%></span>
						</div>
					</li>
					<li class="mui-table-view-cell">
						<div class="mui-table">
							<span class="mui-table-cell mui-col-xs-3 mui-text-left">潜在危害:</span>
							<span class="mui-table-cell mui-col-xs-9 mui-text-left"><%=list.harm%></span>
						</div>
					</li>
					<li class="mui-table-view-cell">
						<div class="mui-table">
							<span class="mui-table-cell mui-col-xs-3 mui-text-left">地质条件:</span>
							<span class="mui-table-cell mui-col-xs-9 mui-text-left"><%=list.geology%></span>
						</div>
					</li>
					<li class="mui-table-view-cell">
						<div class="mui-table">
							<span class="mui-table-cell mui-col-xs-3 mui-text-left">变形特征及活动历史:</span>
							<span class="mui-table-cell mui-col-xs-9 mui-text-left"><%=list.history%></span>
						</div>
					</li>
					<li class="mui-table-view-cell">
						<div class="mui-table">
							<span class="mui-table-cell mui-col-xs-3 mui-text-left">稳定性分析:</span>
							<span class="mui-table-cell mui-col-xs-9 mui-text-left"><%=list.stability%></span>
						</div>
					</li>
					<li class="mui-table-view-cell">
						<div class="mui-table">
							<span class="mui-table-cell mui-col-xs-3 mui-text-left">引发因素:</span>
							<span class="mui-table-cell mui-col-xs-9 mui-text-left"><%=list.reason%></span>
						</div>
					</li>
					<li class="mui-table-view-cell">
						<div class="mui-table">
							<span class="mui-table-cell mui-col-xs-3 mui-text-left">监测方法:</span>
							<span class="mui-table-cell mui-col-xs-9 mui-text-left"><%=list.monitormethod%></span>
						</div>
					</li>
					<li class="mui-table-view-cell">
						<div class="mui-table">
							<span class="mui-table-cell mui-col-xs-3 mui-text-left">治理现状:</span>
							<span class="mui-table-cell mui-col-xs-9 mui-text-left"><%=list.govern%></span>
						</div>
					</li>
					<li class="mui-table-view-cell">
						<div class="mui-table">
							<span class="mui-table-cell mui-col-xs-3 mui-text-left">监测设备:</span>
							<span class="mui-table-cell mui-col-xs-9 mui-text-left">总计<%=list.typenum%>种类型，<%=list.devicenum%>个监测设备</span>
						</div>
					</li>
					<li class="mui-table-view-cell">
						<div class="mui-table">
							<span class="mui-table-cell mui-col-xs-3 mui-text-left">简介:</span>
							<span class="mui-table-cell mui-col-xs-9 mui-text-left"><%=list.description%></span>
						</div>
					</li>
				</ul>
			</script>
		</div>
		
		<script type="text/javascript">
			mui.init();
			mui.plusReady(function() {
				this.initEvent();
			});
			var initEvent = function() {
				//初始化地灾点项目详情信息
				initDzdTemplateContent();
			};
			
			function initDzdTemplateContent(){
				var self = plus.webview.currentWebview();
				var feature = mui.myCloneObj(self.feature);
				feature.image = JSON.parse(feature.image);
				var html = template('slider-item-template', {
					list: feature
				});
				document.getElementById("content").innerHTML = html;
				mui(".mui-slider").slider();
			}
			var initApp = function() {
				this.initEvent();
			}
			
		</script>
	</body>
</html>