<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<script type="text/javascript" src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/template-native.js"></script>
		<script type="text/javascript" src="../../js/pages/common.js" ></script>
		<style type="text/css">
			.mui-table-view-cell {
				font-size: 18px;
			}
			
			.mui-navigate-right-self {
				font-size: 15px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">地灾点监测设备列表</h1>
		</header>
		<div class="mui-content" style="padding-top: 30px;">
			<ul class="mui-table-view mui-table-view-chevron">
				<li class="mui-table-view-cell mui-collapse">
					<a class="mui-navigate-right" href="#">裂缝监测</a>
					<ul id="lfjc-ul-list" class="mui-table-view mui-table-view-chevron">
						<script id="lfjc-ul-list-template" type="text/html">
							<% for(var i=0;i<list.length;i++){%>
							<%if (list[i].type==3) {%>
							<li id='<%=list[i].type%>_<%=list[i].deviceid%>' class="mui-table-view-cell">
								<a class="mui-navigate-right mui-navigate-right-self" href="#">
									<%=list[i].name%>
								</a>
							</li>
							<%}}%>
						</script>
					</ul>
				</li>
				<li class="mui-table-view-cell mui-collapse">
					<a class="mui-navigate-right" href="#">表面位移监测</a>
					<ul id="bmwyjc-ul-list" class="mui-table-view mui-table-view-chevron">
						<script id="bmwyjc-ul-list-template" type="text/html">
							<% for(var i=0;i<list.length;i++){%>
							<%if (list[i].type==1) {%>
							<li id='<%=list[i].type%>_<%=list[i].deviceid%>' class="mui-table-view-cell">
								<a class="mui-navigate-right mui-navigate-right-self" href="#">
									<%=list[i].name%>
								</a>
							</li>
							<%}}%>
						</script>
					</ul>
				</li>
				<li class="mui-table-view-cell mui-collapse">
					<a class="mui-navigate-right" href="#">雨量监测</a>
					<ul id="yljc-ul-list" class="mui-table-view mui-table-view-chevron">
						<script id="yljc-ul-list-template" type="text/html">
							<% for(var i=0;i<list.length;i++){%>
							<%if (list[i].type==2) {%>
							<li id='<%=list[i].type%>_<%=list[i].deviceid%>' class="mui-table-view-cell">
								<a class="mui-navigate-right mui-navigate-right-self" href="#">
									<%=list[i].name%>
								</a>
							</li>
							<%}}%>
						</script>
					</ul>
				</li>
			</ul>
		</div>

		<script type="text/javascript">
			mui.init();
			mui.plusReady(function() {
				this.initEvent();
			});

			var initEvent = function() {
				//初始化各个监测类型下面的监测设备
				var selectedFeature = plus.webview.currentWebview();
				if(selectedFeature.type =='dzd' && selectedFeature.paramId!=null){
					var action = "devices";
					mui.myMuiQuery(action, 
							{quakeid: selectedFeature.paramId},
							function(results){
								//初始化页面
								if(results.message == 'success'){
									initTemplateContent(results);
								}
							},
							function(err){
								mui.myMuiQueryErr('查询失败，请稍后再试！');
							}
					)
				}
				//对监测设备添加点击事件到具体的设备详情页面
				initJcsbListEvent();
			};

			function initJcsbListEvent() {
				mui('#bmwyjc-ul-list, #lfjc-ul-list, #yljc-ul-list').on('tap', 'li', function(evt) {
					debugger
					var info = this.getAttribute("id");
					if(info) {
						var typeT = info.split('_')[0];
						var idT = info.split('_')[1];
						mui.openWindow({
							url: '../jcsb/jcsb.html',
							id: 'jcsb-detail-id',
							extras: {
								xqType: typeT,
								xqID: idT
							}
						});
					}
				})
			}
			function initTemplateContent(results) {
				var jcsbList = results.data.rows;
				var bmwyjcH = template('bmwyjc-ul-list-template', {
					list: jcsbList
				});
				document.getElementById("bmwyjc-ul-list").innerHTML = bmwyjcH;
				
				var lfjcH = template('lfjc-ul-list-template', {
					list: jcsbList
				});
				document.getElementById("lfjc-ul-list").innerHTML = lfjcH;
				
				var yljcH = template('yljc-ul-list-template', {
					list: jcsbList
				});
				document.getElementById("yljc-ul-list").innerHTML = yljcH;
			}
			
		</script>
	</body>

</html>