<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>地灾点详情</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
		<script type="text/javascript" src="../../js/mui.min.js" ></script>
		<script type="text/javascript" src="../../js/template-native.js" ></script>
		<script type="text/javascript" src="../../js/testdata.js" ></script>
	</head>

	<body>
		<style>
			.mui-control-content {
				background-color: white;
				min-height: 215px;
			}
			.mui-control-content .mui-loading {
				margin-top: 50px;
			}
			#slider-pictures{
				height: 270px;
				border-bottom: 1px solid black;
			}
			#slider{
				height: 100%;
				margin-bottom: 5px;
				overflow-y:scroll;
			}
		</style>
		
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">地灾点详情</h1>
		</header>
		<div class="mui-content">
			<div id="slider-pictures" class="mui-slider">
				<div class="mui-slider-group mui-slider-loop">
					<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
					<div class="mui-slider-item mui-slider-item-duplicate">
						<a href="#">
							<img src="../../photos/2.png">
							<p class="mui-slider-title">监测设备2</p>
						</a>
					</div>
					<div class="mui-slider-item">
						<a href="#">
							<img src="../../photos/dz1.png">
							<p class="mui-slider-title">地灾点公示牌</p>
						</a>
					</div>
					<div class="mui-slider-item">
						<a href="#">
							<img src="../../photos/1.png">
							<p class="mui-slider-title">监测设备1</p>
						</a>
					</div>
					<div class="mui-slider-item">
						<a href="#">
							<img src="../../photos/2.png">
							<p class="mui-slider-title">监测设备2</p>
						</a>
					</div>
					<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
					<div class="mui-slider-item mui-slider-item-duplicate">
						<a href="#">
							<img src="../../photos/dz1.png">
							<p class="mui-slider-title">地灾点公示牌</p>
						</a>
					</div>
				</div>
				<div class="mui-slider-indicator mui-text-right">
					<div class="mui-indicator mui-active"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
				</div>
			</div>
			<div id="slider" class="mui-slider">
				<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<a class="mui-control-item" href="#item1mobile">
						概要情况
					</a>
					<a class="mui-control-item" href="#item2mobile">
						报警信息
					</a>
					<a class="mui-control-item" href="#item3mobile">
						监测设备
					</a>
				</div>
				<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-4"></div>
				<div class="mui-slider-group">
					<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
						<div id="scroll1" class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul class="mui-table-view">
									<li class="mui-table-view-cell">
										承担单位：鹰潭市国土资源局
									</li>
									<li class="mui-table-view-cell">
										负责人：张三
									</li>
									<li class="mui-table-view-cell">
										监测设备类型：4种
									</li>
									<li class="mui-table-view-cell">
										共计监测设备：11个
									</li>
									<li class="mui-table-view-cell">
										简介：鹰潭市为地质灾害防治制定发布了《鹰潭市地质灾害防治方案》和《突发性地质灾害应急预案》并将此预案列入了鹰潭市突发公共事件总体应急预案。由于人工测量并不能对采空区进行全天候监测，要求实现自动化监测。该项目通过对贵溪市石膏矿采空塌陷区安装监测设备，对主要技术数据的实时监测监控，巡线员数据的实时查询，监测数据的智能分析等。实时了解该采空区安全状态并做出预测预警，为科学决策提供依据。
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div id="item2mobile" class="mui-slider-item mui-control-content">
						<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
							<div class="mui-scroll">
								<!--数据列表-->
								<ul id="warnullist" class="mui-table-view mui-table-view-chevron">
									<script id="ul-li-template" type="text/html">
										<% for(var i=0;i<list.length;i++){%>
										<li id='li<%=list[i].name %>' class="mui-table-view-cell">
											<div class="mui-slider-cell">
												<h4><span class=""><%=list[i].name%></span></h4>
												<h5>坐标:<%=list[i].x%> <%=list[i].y%></h5>
												<h5>等级：<%=list[i].msg%> </h5>
											</div>
										</li>
										<%}%>
									</script>
								</ul>
							</div>
						</div>
					</div>
					<div id="item3mobile" class="mui-slider-item mui-control-content">
						<div id="scroll3" class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul id="jcsbullist" class="mui-table-view mui-table-view-chevron">
									<script id="ul-li-template2" type="text/html">
										<% for(var i=0;i<list.length;i++){%>
										<li id='li<%=list[i].name %>' class="mui-table-view-cell">
											 <a class="mui-navigate-right"><span class=""><%=list[i].name%></span></a>
										</li>
										<%}%>
									</script>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript">
			mui.init({
				swipeBack: false,  //启用右滑打开功能
				
				//初始化下拉加载
				pullRefresh: {
					container: '#pullrefresh',
					down: {
						callback: pulldownRefresh //下拉，获取更多数据
					},
					up: {
						contentrefresh: '正在加载...',
						callback: pullupRefresh //上拉， 刷新最新数据
					}
				}
			});
			//初始化事件
			var initEvent = function() {
				var me = this;
				mui('.mui-scroll-wrapper').scroll({
					indicators: true //是否显示滚动条
				});
				var html3 = '<ul class="mui-table-view"><li class="mui-table-view-cell">监测设备1</li><li class="mui-table-view-cell">监测设备2</li><li class="mui-table-view-cell">监测设备3</li><li class="mui-table-view-cell">监测设备4</li><li class="mui-table-view-cell">监测设备5</li></ul>';
				var item2 = mui('#item2mobile')[0];
				var item3 = mui('#item3mobile')[0];
				mui('#slider')[0].addEventListener('slide', function(e) {
					if (e.detail.slideNumber === 1) {
						setTimeout(function() {
								mui('#pullrefresh').pullRefresh().pullupLoading();
							}, 500);
					} else if (e.detail.slideNumber === 2) {
						setTimeout(function() {
							var html = template('ul-li-template2', {
								list: warnjcMarkersData
							});
							document.getElementById("jcsbullist").innerHTML = html;
						}, 500);
					}
				});
				
				//初始化图片轮播
				var sliderPics = mui("#slider-pictures");
				sliderPics.slider({
							interval: 5000
				});
			}
			//下拉刷新具体业务实现
			function pulldownRefresh() {
				setTimeout(function() {
					var html = template('ul-li-template', {
						list: warnjcMarkersData
					});
					document.getElementById("warnullist").innerHTML = html;
					mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
				}, 1000);
			}
			var count = 0;
			//上拉加载具体业务实现
			function pullupRefresh() {
				setTimeout(function() {
					mui('#pullrefresh').pullRefresh().endPullupToRefresh((++count > 2)); //参数为true代表没有更多数据了。
					var html = template('ul-li-template', {
						list: warnjcMarkersData
					});
					document.getElementById("warnullist").innerHTML = document.getElementById("warnullist").innerHTML + html;
				}, 1000);
			}
			//初始化应用
			var initApp = function() {
				this.initEvent();
			};
			mui.ready(initApp);
		</script>
	</body>
</html>