
*.apk
*.zip
*.ipa
app/yt/manifest.json
app/yt/manifest.json
app/yt/manifest.json
*.json
app/yt/manifest.json
*.json
/app/yt/unpackage/release
/app/yt/unpackage/res
/app/yt/unpackage/.confirmed_dependencies
/app/yt/unpackage/.dependencies
/pc/client/V2/.idea
/pc/client/V3/ytws/.idea
/pc/client/V3/ytws/.idea
