#map {
	height: 100%;
	width: 100vw;
	overflow: hidden;
}

.mui-content {
	height: 100%;
}


/*隐藏地图logo信息*/


/*.leaflet-container .leaflet-control-attribution {
				display: none;
			}*/

.leaflet-map-control-container {
	/*bottom: 5px;*/
	height: 100%;
	width: 100%;
	position: absolute;
	/*pointer-events: none;*/
	z-index: 1000;
	/*padding-left: 5px;
				padding-right: 5px;*/
	text-align: center;
}

.map-tool-user {
	position: absolute;
	z-index: 1000;
	left: 6px;
	top: 7px;
	background-color: rgba(255, 255, 255, 0);
	border: 0px;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 5px;
	padding-left: 5px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 32px !important;
	color: rgba(44, 62, 80, 1.0);
	font-style: normal;
	-webkit-font-smoothing: antialiased;
}

.map-tool-locate {
	position: absolute;
	z-index: 1000;
	left: 10px;
	bottom: 20px;
	color: rgba(41, 128, 185, 1.0);
	background-color: rgba(255, 255, 255, 1);
	border-radius: 24px;
}


/*预警信息列表*/

.map-tool-info {
	position: absolute;
	z-index: 1000;
	left: 10px;
	top: 60px;
	color: rgba(192, 57, 43, 1.0);
	background-color: rgba(255, 255, 255, 1);
	border-radius: 24px;
}


/*地图切换*/

.map-tool-baselayer {
	position: absolute;
	z-index: 1000;
	right: 10px;
	top: 60px;
	color: rgba(243, 156, 18, 1.0);
	background-color: rgba(255, 255, 255, 1);
}


/*开启预警点显示开关*/

.map-tool-warn-color {
	position: absolute;
	z-index: 1000;
	right: 10px;
	top: 105px;
	color: rgba(192, 57, 43, 1.0);
	background-color: rgba(255, 255, 255, 1);
}
.map-tool-warn {
	position: absolute;
	z-index: 1000;
	right: 10px;
	top: 105px;
	color: rgba(52, 73, 94, 1.0);
	background-color: rgba(255, 255, 255, 1);
}
/*开启收藏点显示开关*/
.map-tool-star{
	position: absolute;
	z-index: 1000;
	right: 10px;
	top: 150px;
	color: rgba(52, 73, 94, 1.0);
	background-color: rgba(255, 255, 255, 1);
}
.map-tool-star-color{
	position: absolute;
	z-index: 1000;
	right: 10px;
	top: 150px;
	color: rgba(192, 57, 43, 1.0);
	background-color: rgba(255, 255, 255, 1);
}

.map-tool-zoomin {
	position: absolute;
	z-index: 1000;
	right: 10px;
	bottom: 240px;/**240,205*/
	color: rgba(52, 73, 94, 1.0);
	background-color: rgba(255, 255, 255, 1);
}

.map-tool-zoomout {
	position: absolute;
	z-index: 1000;
	right: 10px;
	bottom: 205px;
	color: rgba(52, 73, 94, 1.0);
	background-color: rgba(255, 255, 255, 1);
}

#ytfooter {
	height: 0px;
	display: none;
	border: 1px solid lightgray;
}

.mui-input-group {
	position: absolute;
	z-index: 1000;
	top: 10px;
	right: 10px;
	left: 50px;
}

.warn-info-container {
	z-index: 1000;
	position: absolute;
	top: 65px;
	left: 50px;
	right: 50px;
	height: 26px;
	line-height: 24px;
	background-color: rgba(65,105,225, 0.6);
	font-size: 14px;
	padding-left: 10px;
	color: yellow;
	border:1px solid lightgray;
	border-radius: 3px;
}

//ytfooter 布局
.mui-table h4,.mui-table h5,.mui-table .mui-h6,.mui-table p,.mui-table .mui-h5{
    margin-top: 0;
    float: left;
}

.mui-table h4{
    line-height: 21px;
    font-weight: 500;
}

.mui-table .oa-icon{
    position: absolute;
    right:0;
    bottom: 0;
}
.mui-table .oa-icon-star-filled{
    color:#f14e41;
}
.mui-ellipsis{
	color: black;
}
.ytfooter-infos{
	color: blue;
	font-size: 32;
}
.ytfooter-user{
	width: 20px;	
	color: lightgreen;
}
.ytfooter-tel{
	width: 20px;
	color: lightgreen;
}
.ytfooter-main{
	width: 20px;
	color: lightgreen;
}
.ytfooter-star{
	border: 0px solid white;
}
.ytfooter-star-color{
	border: 0px solid white;
	color: rgba(192, 57, 43, 1.0);
}
