@font-face {
	font-family: "ytfont";
	src: url('../fonts/yt.ttf?t=1510148981441') format('truetype');
}

@font-face {
	font-family: "ytfont0";
	src: url('../fonts/yt0.ttf?t=1510753914058') format('truetype')
}

@font-face {
	font-family: "ytfont1";
	src: url('../fonts/yt1.ttf?t=1510755350416') format('truetype')
}

@font-face {
	font-family: "ytfont2";
	src: url('../fonts/yt2.ttf?t=1510929868501') format('truetype');
}

@font-face {
	font-family: "ytfont3";
	src: url('../fonts/yt3.ttf?t=1510931061518') format('truetype')
}

@font-face {
	font-family: "ytfont4";
	src: url('../fonts/fontawesome-webfont.ttf?v=4.0.0') format('truetype')
}


/*鹰潭字体图标库*/

.ytfont {
	position: relative;
	z-index: 20;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: "ytfont" !important;
	font-size: 18px;
	color: rgba(255, 255, 255, 1);
	font-style: normal;
	-webkit-font-smoothing: antialiased;
}

.ytlistfont {
	position: relative;
	z-index: 20;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: "ytfont" !important;
	font-size: 18px;
	color: rgba(255, 255, 255, 1);
	font-style: normal;
	-webkit-font-smoothing: antialiased;
}

.yttabfont {
	position: relative;
	text-align: center;
	z-index: 20;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: "ytfont" !important;
	font-size: 32px !important;
	/*color: rgba(127, 140, 141,1.0);*/
	font-style: normal;
	-webkit-font-smoothing: antialiased;
}

.maptoolfont {
	position: relative;
	text-align: center;
	z-index: 20;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 5px;
	padding-left: 5px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: "ytfont" !important;
	font-size: 24px !important;
	color: rgba(128, 128, 128, 1.0);
	font-style: normal;
	-webkit-font-smoothing: antialiased;
}

.maptoolfont0 {
	position: relative;
	text-align: center;
	z-index: 20;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 5px;
	padding-left: 5px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: "ytfont0" !important;
	font-size: 24px !important;
	color: rgba(128, 128, 128, 1.0);
	font-style: normal;
	-webkit-font-smoothing: antialiased;
}

.maptoolfont1 {
	position: relative;
	text-align: center;
	z-index: 20;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 5px;
	padding-left: 5px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: "ytfont1" !important;
	font-size: 24px !important;
	color: rgba(128, 128, 128, 1.0);
	font-style: normal;
	-webkit-font-smoothing: antialiased;
}

.maptoolfont2 {
	position: relative;
	text-align: center;
	z-index: 20;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 5px;
	padding-left: 5px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: "ytfont2" !important;
	font-size: 24px !important;
	color: rgba(128, 128, 128, 1.0);
	font-style: normal;
	-webkit-font-smoothing: antialiased;
}

.maptoolfont3 {
	position: relative;
	text-align: center;
	z-index: 20;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 5px;
	padding-left: 5px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: "ytfont3" !important;
	font-size: 24px !important;
	color: rgba(128, 128, 128, 1.0);
	font-style: normal;
	-webkit-font-smoothing: antialiased;
}

.mapfooterfont4 {
	position: relative;
	/*text-align: left;*/
	z-index: 20;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 2px;
	padding-left: 2px;
	/*display: block;*/
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: "ytfont4" !important;
	font-size: 16px !important;
	color: rgba(128, 128, 128, 1.0);
	font-style: normal;
	-webkit-font-smoothing: antialiased;
}


/*缩小*/

.yt-zoomout:before {
	content: "\e618";
}


/*放大*/

.yt-zoomin:before {
	content: "\e61d";
}


/*预警列表*/

.yt-info:before {
	content: "\f0140";
}


/*预警开关*/

.yt-warn:before {
	content: "\e6b5";
}

/*表面位移*/

.yt-bmwy:before {
	content: "\e62b";
}


/*刷新*/

.yt-refresh:before {
	content: "\e6fc";
}


/*裂缝管理*/

.yt-lffx:before {
	content: "\e625";
}


/*土合水率*/

.yt-thsl:before {
	content: "\e6a2";
}


/*表格分析*/

.yt-bgfx:before {
	content: "\e607";
}


/*确定*/

.yt-qd:before {
	content: "\e628";
}


/*地图点*/

.yt-point:before {
	content: "\e501";
}


/*定位*/

.yt-locate:before {
	content: "\e63e";
}


/*压力监测*/

.yt-yljc:before {
	content: "\e50f";
}


/*统计分析*/

.yt-tjfx:before {
	content: "\e60c";
}


/*更多*/

.yt-more:before {
	content: "\e61d";
}


/*底图切换*/

.yt-baselayer:before {
	content: "\e51c";
}


/*消息*/

.yt-msg0:before {
	content: "\e654";
}

.yt-msg:before {
	content: "\e501";
}

/*ytfooter 详情*/
.ytfooter-infos:before{
	content: '\f080';
}
/*ytfooter 用户*/
.ytfooter-user:before{
	content: '\f007';
}
/*ytfooter 电话*/
.ytfooter-tel:before{
	content: '\f098';
}
/*ytfooter 概要*/
.ytfooter-main:before{
	content: '\f02e';
}
/*searchlist 定位*/
.searchlist-local:before{
	content: '\f041';
}
/*searchlist 地址*/
.searchlist-addr:before{
	content: '\f015';
}
