#root .background {
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 1200px;
  min-height: 600px;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.logo {
  position: absolute;
  left: 50%;
  top: 112px;
  height: 55px;
  width: 256px;
  margin-left: -137px;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.login-container {
  width: 336px;
  height: 310px;
  background: #fff;
  position: absolute;
  left: 50%;
  margin-left: -168px;
  top: 186px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 68px 150px rgba(0, 46, 95, 0.12);
          box-shadow: 0px 68px 150px rgba(0, 46, 95, 0.12); }

.login-container .vertical-line {
  position: absolute;
  width: 3px;
  height: 27px;
  background: #424954;
  top: 26px;
  left: 0px; }

.login-container .logo-desc {
  width: 280px;
  height: 30px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 30px;
  margin-left: 26px; }

.loginform {
  width: 280px;
  margin-top: 30px;
  margin-left: 26px; }

#userName {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #fff;
  padding-left: 24px;
  border: none;
  border-radius: 0px;
  background-size: 14px; }

#password {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #fff;
  padding-left: 24px;
  border-radius: 0px;
  background-size: 14px 14px;
  border: none; }

.loginform .ant-form-item {
  margin-bottom: 18px;
  -webkit-box-shadow: 0 10px 40px 0 rgba(80, 115, 164, 0.12);
          box-shadow: 0 10px 40px 0 rgba(80, 115, 164, 0.12); }

.loginform .ant-form-explain {
  display: none !important; }

.loginform .ant-input-lg {
  height: 38px; }

.loginform .ant-btn-primary {
  margin-top: 20px;
  height: 38px; }

.showMsg {
  display: none;
  width: 280px;
  height: 25px;
  line-height: 25px;
  margin-bottom: -25px;
  text-align: center;
  font-size: 14px;
  margin-top: 2px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #f55f72; }

.login-container .login-form-button2 {
  /* Webkit: Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#005bd7), to(#2987fb));
  /* Webkit: Safari 5.1+, Chrome 10+ */
  background: -webkit-linear-gradient(right, #005bd7, #2987fb);
  /* Firefox 3.6+ */
  /* Opera 11.10+ */
  background: -o-linear-gradient(right, #005bd7, #2987fb);
  /* IE 10 */
  background: -ms-linear-gradient(right, #005bd7, #2987fb); }

.background .login-container .login-form-button2 :hover {
  background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#005bd7), to(#2987fb));
  /* Webkit: Safari 5.1+, Chrome 10+ */
  background: -webkit-linear-gradient(right, #005bd7, #2987fb);
  /* Firefox 3.6+ */
  /* Opera 11.10+ */
  background: -o-linear-gradient(right, #005bd7, #2987fb);
  /* IE 10 */
  background: -ms-linear-gradient(right, #005bd7, #2987fb); }
