.big-100 {
  @include responsivecolumn-item(100%);
}

.big-70 {
  @include responsivecolumn-item(70%);
}

.big-60 {
  @include responsivecolumn-item(60%);
}

.big-50 {
  @include responsivecolumn-item(50%);
}

.big-40 {
  @include responsivecolumn-item(40%);
}

.big-33 {
  @include responsivecolumn-item(33.33%);
}

.big-30 {
  @include responsivecolumn-item(30%);
}

.big-20 {
  @include responsivecolumn-item(20%);
}

@include extjs-tab-panel-ui(
        $ui: 'navigation',
        $ui-tab-background-color: transparent,
        $ui-tab-background-color-over: transparent,
        $ui-tab-background-color-active: $common-color,
        $ui-tab-background-gradient: 'none',
        $ui-tab-background-gradient-over: 'none',
        $ui-tab-background-gradient-active: 'none',
        $ui-tab-color: #acacac,
        $ui-tab-color-over: rgba($common-color, 1.0),
        $ui-tab-color-active: #ffffff,
        $ui-tab-glyph-color: #acacac,
        $ui-tab-glyph-color-over: #c4c4c4,
        $ui-tab-glyph-color-active: #ffffff,
        $ui-tab-glyph-opacity: 1,
        $ui-tab-border-radius: 0,
        $ui-tab-border-color: transparent,
        $ui-tab-border-color-over: transparent,
        $ui-tab-border-width: 1px,
        $ui-tab-inner-border-width: 0,
        $ui-tab-padding: 6px,
        $ui-tab-margin: 0,
        $ui-tab-font-size: 14px,
        $ui-tab-font-size-over: 15px,
        $ui-tab-font-size-active: 15px,
        $ui-tab-line-height: 19px,
        $ui-tab-font-weight: normal,
        $ui-tab-font-weight-over: normal,
        $ui-tab-font-weight-active: normal,
        $ui-tab-icon-width: 16px,
        $ui-tab-icon-height: 16px,
        $ui-bar-background-color: transparent,
        $ui-bar-background-gradient: 'none',
        $ui-bar-padding: 5px 0px 0px 0px,
        $ui-strip-height: 0
);

@include extjs-tab-panel-ui(
        $ui: 'navigation1',
        $ui-tab-background-color: $common-color,
        $ui-tab-background-color-over: $common-active-color,
        $ui-tab-background-color-active: $common-active-color,
        $ui-tab-background-gradient: 'none',
        $ui-tab-background-gradient-over: 'none',
        $ui-tab-background-gradient-active: 'none',
        $ui-tab-color: #ffffff,
        $ui-tab-color-over: #ffffff,
        $ui-tab-color-active: $map-focus-text-color,
        $ui-tab-glyph-color: #ffffff,
        $ui-tab-glyph-color-over: #ffffff,
        $ui-tab-glyph-color-active: $map-focus-text-color,
        $ui-tab-glyph-opacity: 1,
        $ui-tab-border-radius: 0,
        $ui-tab-border-width: 0,
        $ui-tab-inner-border-width: 0,
        $ui-tab-padding: 24px,
        $ui-tab-margin: 0,
        $ui-tab-font-size: 15px,
        $ui-tab-font-size-over: 15px,
        $ui-tab-font-size-active: 15px,
        $ui-tab-line-height: 19px,
        $ui-tab-font-weight: normal,
        $ui-tab-font-weight-over: normal,
        $ui-tab-font-weight-active: bold,
        $ui-tab-icon-width: 24px,
        $ui-tab-icon-height: 24px,
        $ui-tab-icon-spacing: 5px,
        $ui-bar-background-color: $common-color,
        $ui-bar-background-gradient: 'none',
        $ui-bar-padding: 0,
        $ui-strip-height: 0
);

@include extjs-panel-ui(
        $ui: 'map-detail-secend-panel-ui',
        $ui-header-background-color: $common-color,
        $ui-header-color: #ffffff,
        $ui-header-glyph-color: #ffffff,
        $ui-header-glyph-opacity: 1,
        $ui-header-font-size: 16px,
        $ui-header-line-height: 20px,
        $ui-header-font-weight: normal,
        $ui-header-icon-height: 18px,
        $ui-header-icon-width: 18px,
        $ui-header-icon-spacing: 5px,
        $ui-header-padding: 2px,
        $ui-header-text-margin: 2px,
        $ui-header-noborder-adjust: false
);

/*预警等级统计*/
@include extjs-button-small-ui (
        $ui: 'button-red-ui',
        $background-color: red,
        $border-width: 0px,
        $color: black,
        $font-size: 14px
);

@include extjs-button-small-ui (
        $ui: 'button-orange-ui',
        $background-color: orange,
        $border-width: 0px,
        $color: black,
        $font-size: 14px
);

@include extjs-button-small-ui (
        $ui: 'button-yellow-ui',
        $background-color: yellow,
        $border-width: 0px,
        $color: black,
        $font-size: 14px
);

@include extjs-button-small-ui (
        $ui: 'button-blue-ui',
        $background-color: blue,
        $border-width: 0px,
        $color: black,
        $font-size: 14px
);

/*监测设备统计*/
@include extjs-button-small-ui (
        $ui: 'button-device-ui',
        $background-color: #055575,
        $border-width: 1px,
        $padding: 10px,
        $color: white,
        $font-size: 14px
);