@include extjs-button-medium-ui(
        $ui: 'map-tool-ui',
        $border-width: 0px,
        $inner-border-width: 0px,
        $color: $map-default-text-color,
        $color-over: $map-focus-text-color,
        $color-pressed: $map-focus-text-color,
        $text-padding: 5px,
        $padding: 3px,
        $font-size: 12px
);

@include extjs-panel-ui(
        $ui: 'map-warn-panel-ui',
        $ui-body-background-color: $map-focus-text-color,
        $ui-body-color: rgba(255, 255, 255, 1.0),
        $ui-body-border-color: rgba(255, 255, 255, 0.0),
        $ui-body-font-size: 14px,
        $ui-border-radius: 0px,
        $ui-border-width: 0px,
        $ui-header-inner-border-color: rgba(255, 255, 255, 0.0),
        $ui-header-inner-border-width: 0px,
        $ui-padding: 0px,
        $ui-header-line-height: 0px
);

@include extjs-panel-ui(
        $ui: 'map-detail-warnning-panel-ui',
        $ui-header-background-color: $common-color,
        $ui-header-color: #ffffff,
        $ui-header-glyph-color: #ffffff,
        $ui-header-glyph-opacity: 1,
        $ui-header-font-size: 12px,
        $ui-header-line-height: 20px,
        $ui-header-font-weight: normal,
        $ui-header-icon-height: 16px,
        $ui-header-icon-width: 16px,
        $ui-header-icon-spacing: 2px,
        $ui-header-padding: 2px,
        $ui-header-text-margin: 2px,
        $ui-header-noborder-adjust: false
);

@include extjs-panel-ui(
        $ui: 'mondata-detail-info-panel',
        $ui-body-background-color: $common-color,
        $ui-body-color: rgba(255, 255, 255, 1)
);

.mondata-detail-info-title {
  font-size: 18px !important;
}

@include extjs-button-small-ui(
        $ui: 'mondata-detail-tool-button',
        $background-color: rgba(0, 105, 92, 0.0),
        $background-color-over: $map-focus-text-color,
        $background-color-focus: rgba(0, 105, 92, 0.0),
        $background-color-pressed: $map-focus-text-color,
        $padding: 0px,
        $icon-size: 18px,
        $font-size: 8px,
        $inner-border-width: 0px
)

@include extjs-button-small-ui(
        $ui: 'mondata-detail-image-button',
        $background-color: rgba(0, 105, 92, 0.0),
        $background-color-over: rgba(0, 105, 92, 0.0),
        $background-color-focus: rgba(0, 105, 92, 0.0),
        $background-color-pressed: rgba(0, 105, 92, 0.0),
        $padding: 0px,
        $icon-size: 18px,
        $font-size: 14px,
        $inner-border-width: 0px
)
