@include extjs-panel-ui(
        $ui: 'west-panel-ui',
        $ui-header-color: #ffffff,
        $ui-header-glyph-color: #ffffff,
        $ui-header-glyph-opacity: 1,
        $ui-header-font-size: 16px,
        $ui-header-line-height: 32px,
        $ui-header-font-weight: normal,
        $ui-header-icon-height: 24px,
        $ui-header-icon-width: 24px,
        $ui-header-icon-spacing: 15px,
        $ui-header-background-color: $my-panel-header-color,
        $ui-header-padding: 0,
        $ui-header-text-margin: 2px,
        $ui-header-noborder-adjust: false
);

.treelist-with-nav .#{$prefix}panel-body {
  background-color: rgba(255, 255, 255, 1);
}

.x-grid-cell-inner-treecolumn {
  padding: 6px 3px 0px 3px;
  height: 32px;
}

.gray-cls {
  color: gray;
  margin-top: 2px !important;
}

.red-cls {
  color: red;
  margin-top: 2px !important;
}

.yellow-cls {
  color: yellow;
  margin-top: 2px !important;
}

.orange-cls {
  color: orange;
  margin-top: 2px !important;
}

.blue-cls {
  color: blue;
  margin-top: 2px !important;
}

.green-cls {
  color: green;
  margin-top: 2px !important;
}

.normal-cls {
  margin-top: 3px !important;
}

/*修改panel收缩按钮位置*/
.x-layout-split-left, .x-layout-split-right {
  top: 0px !important;
  margin-top: 0px !important;
  width: 100%;
  height: 48px;
}